<!DOCTYPE html>
<html>
<head>
    <title>Candidates</title>
</head>
<body>
    <header>
        <h1>Candidates</h1>
        <img src="../static/anusim.png" alt="Organization Logo">
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/join">Join the Cause</a></li>
            <li><a href="/candidates">Candidates</a></li> <!-- New link -->
        </ul>
    </nav>
    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Agreed to Terms</th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidates %}
                <tr>
                    <td>{{ candidate.id }}</td>
                    <td>{{ candidate.full_name }}</td>
                    <td>{{ candidate.email }}</td>
                    <td>{{ candidate.phone }}</td>
                    <td>{{ "Yes" if candidate.agree else "No" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
