<!DOCTYPE html>
<html>
<head>
    <title>Anusim</title>
</head>
<body>
    <header>
        <h1> תחבורה ציבורית לכולם - גם בשבת </h1>
        <img src="../static/anusim.png" alt="Organization Logo" width=200 height=200>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/join">Join the Cause</a></li>
            <li><a href="/candidates">Signed</a></li>

        </ul>


        <section class="articles">
            <h2>Recent Articles</h2>
            <ul>
                <li>
                    <a href="https://103fm.maariv.co.il/programs/media.aspx?ZrqvnVq=JFMFGH&c41t4nzVQ=FJF" target="_blank">האנוסים בינון מגל ובן כספית</a>
                    <p>עד כמה ילכו רחוק אלה שרוצים להפעיל את הרכבת הקלה בשבת? לגל רוטברד יש פתרון יעיל לשנות את המצב - להמיר את יהדותו לכל דת אחרת ובכך לייצר רוב לא יהודי בתל אביב, שיכול להצביע ברגליים ולנוסע ברכבת. בשיחה עם ינון מגל וחיים לוינסון הבהיר כיצד יימצא פתרון למצב.

לדבריו, "אני במקור מחיפה, בחיפה פועלת תחבורה ציבורית בשבת מאז הקמת המדינה, וזה הסטטוס קוו שם. מאוד ניהנתי מהתחבורה הציבורית בשבת, אני לא רואה סיבה שזה לא יכול לקרות גם בגוש דן, ספיציפית בתל אביב, יש משהו כמו 11 אחוזים לא יהודים, זה אומר שחסר בערך 30 אלף תושבים, לא משנה איזה דת, העיקר שהם לא יהיו יהודים על פי החוק". </p>
                </li>
                <li>
                    <a href="#https://headstart.co.il/project/74273?lang=he" target="_blank"> האנוסים - גיוס המונים </a>
                    <p> לתרומה לפרוייקט, כל תרומה תתקבל בברכה, אין לארגון כל מטרות רווח </p>
                    <iframe width="1024" height="368" src="https://headstart.co.il/embed?id=74273&size=full&language=1&lang=he"></iframe>
                </li>
            </ul>
        </section>


    </nav>
    <main>
        <!-- Your main content here -->
    </main>
</body>
</html>
