<!DOCTYPE html>
<html>
<head>
    <title>Political Cause</title>
</head>
<body>
    <header>
        <h1>Political Cause Organization</h1>
        <img src="../static/anusim.png" alt="Organization Logo">
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/join">Join the Cause</a></li>
            <li><a href="/candidates">Candidates</a></li> <!-- New link -->
        </ul>
    </nav>
    <main>
        <!-- Your main content here -->
    </main>
</body>
</html>
